*¨{
    padding: 0;
    margin:0;
}



body {
    text-align: center;
    height: 100%;
    width: 100%;
    margin:0px;
    
    }




article{
    
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    font-family: "helvetica", sans-serif;
font-weight:lighter;
}

img{
    width: auto;
}

h1{
     padding: 0 25% 0 25%;
    font-size: 25px;
    text-align: left;
    font-family: inherit;
    font-weight:100;
    
}

    
h2{
	font-size:3em;
    padding: 0 25% 0 25%;
        
    font-size: 90px;
    text-align: center;
    font-family: "times new roman", serif;
    font-weight: 500;
    
    }

h3{
    font-size: 35px;
    text-align: center;
    font-family:sans-serif;
    font-weight:800;

    }

h4{
    padding: 1% 5% 2% 5%;
    font-size: 25px;
    text-align: center;
    font-family: "helvetica";
    font-weight:100;
    font-style: oblique;
}

.capitalLetter
{

float:left;
font-size:9em;
font-weight: 600;
padding-bottom:2px;
padding-left: 2px;
padding-right: 2px;
padding-top: 2px
    
}

p {
     padding: 0 5% 0 5%;
}

ul {
  list-style-type: none;
    margin: 0;
    padding:0;
}

h3{
    font-size: 35px;
    text-align: center;
    font-family:sans-serif;
    font-weight:800;

    }

.link
{
  color: black;
  font-weight:bold;
text-decoration:underline;
}



img.grande{
  width: 600px; height: 600px;
    background-size: cover;
}


.color_verde{
   
    color:limegreen;
}

header {

    height: 60px;
    background: darkblue;
    color:white; 
    text-align:center;
    
}



